body {
  font-family: Roboto;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.webstudio-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.span-studio {
  color: #000000;
}

.nav-list a:hover {
  color: #2196f3;
}

.nav-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: #212121;
}

.info-list-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #757575;
}

.bg {
  background: #2f303a;
}

.bg-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.bg-button {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

.bg-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

.features-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #212121;
}

.features-title-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}

.feauters-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #212121;
}

.team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #212121;
}

.footer-bg {
  font-style: normal;
  background: #2f303a;
}

.footer-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
